# Perfil local
POSTGRES_LOCAL_HOST=localhost
POSTGRES_LOCAL_PORT=5435
POSTGRES_LOCAL_USER=postgres
POSTGRES_LOCAL_PASSWORD=postgres
POSTGRES_LOCAL_DB=toxic-bet-local

# Compatibilidade com a configuração antiga do perfil local
POSTGRES_DEV_HOST=localhost
POSTGRES_DEV_PORT=5435
POSTGRES_DEV_USER=postgres
POSTGRES_DEV_PASSWORD=postgres
POSTGRES_DEV_DB=toxic-bet-dev

# Perfil docker
POSTGRES_DOCKER_HOST=postgres
POSTGRES_DOCKER_PORT=5432
POSTGRES_DOCKER_USER=postgres
POSTGRES_DOCKER_PASSWORD=postgres
POSTGRES_DOCKER_DB=toxic-bet

# Perfil aws
POSTGRES_AWS_HOST=aws-postgres-host
POSTGRES_AWS_PORT=5432
POSTGRES_AWS_USER=postgres
POSTGRES_AWS_PASSWORD=postgres
POSTGRES_AWS_DB=toxic-bet

# Integrações externas
KAFKA_LOCAL_BOOTSTRAP_SERVERS=localhost:9093
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_AWS_BOOTSTRAP_SERVERS=kafka:9092

AUTH_SERVER_LOCAL_JWK_SET_URI=http://localhost:2310/auth-server/public-key/jwks
AUTH_SERVER_JWK_SET_URI=http://auth-server:2310/auth-server/public-key/jwks
AUTH_SERVER_AWS_JWK_SET_URI=https://auth.toxicbet.com.br/auth-server/public-key/jwks

SHARED_SERVICES_NETWORK=shared-services
