# Postgres Dev
POSTGRES_DEV_HOST=localhost
POSTGRES_DEV_PORT=5435
POSTGRES_DEV_USER=postgres
POSTGRES_DEV_PASSWORD=postgres
POSTGRES_DEV_DB=toxic-bet-dev

# Postgres Docker (Homologação)
POSTGRES_DOCKER_HOST=postgres
POSTGRES_DOCKER_PORT=5432
POSTGRES_DOCKER_USER=postgres
POSTGRES_DOCKER_PASSWORD=postgres
POSTGRES_DOCKER_DB=toxic-bet

# Integração com serviços de outro docker compose
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
AUTH_SERVER_JWK_SET_URI=http://auth-server:2300/auth-server/public-key/jwks
SHARED_SERVICES_NETWORK=shared-services
