openapi: 3.0.3
info:
  title: toxic-bet
  description: <h3>Documentation for the Toxic-bet API endpoints.<h3>
  contact:
    name: Guilherme Hahn
    email: guilherme.f.h@hotmail.com
  version: latest
tags:
  - name: users
    description: Operations for uses
  - name: Team
    description: Operations for teams
  - name: Match
    description: Operations for matchs
  - name: Bet
    description: Operations for bets
  - name: Betting pool
    description: Operations for bettings pool
  - name: Standings
    description: Operations for standings

paths:
  /users:
    post:
      tags:
        - users
      summary: Operation to register users in the toxic-bet application.
      description: After successfully logging into the authentication server, the user receives an email to register in the application.
      operationId: postRegisterUser
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserRequestDTO'
      responses:
        '201':
          description: User successfully registered.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponseDTO'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        timestamp:
          type: string
          format: date-time
          description: Timestamp when the error occurred
          example: "2024-01-15T10:30:00Z"
        message:
          type: string
          description: Error message description
          example: "Unauthorized access"

    UserRequestDTO:
      type: object
      required:
        - name
        - email
      properties:
        email:
          type: string
          format: email
          description: User email address to be registered
          example: usuario@exemplo.com
        name:
          type: string
          description: User name to be registered
          example: John Coffee

    UserResponseDTO:
      type: object
      properties:
        message:
          type: string
          example: User successfully registered

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token generated by the authentication server to be validated in the application.

security:
  - bearerAuth: []
