openapi: 3.0.3
info:
  title: toxic-bet
  description: <h3>Documentation for the Toxic-bet API endpoints.<h3>
  contact:
    name: Guilherme Hahn
    email: guilherme.f.h@hotmail.com
  version: latest
tags:
  - name: users
    description: Operations for uses
  - name: team
    description: Operations for teams
  - name: match
    description: Operations for matches
  - name: bet
    description: Operations for bets
  - name: betting_pool
    description: Operations for beatings pool
  - name: standings
    description: Operations for standings

paths:
  /users:
    post:
      tags:
        - users
      summary: Operation to register users in the toxic-bet application.
      description: After successfully logging into the authentication server, the user receives an email to register in the application.
      operationId: postRegisterUser
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserRequestDTO'
      responses:
        '201':
          description: User successfully registered.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponseDTO'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
  /create:
    post:
      tags:
        - match
      summary: Operation for registering matches
      description: It is necessary to register the matches automatically. To do this, you need to consult the table of team relationships to find the IDs. A match must have home team, away team, result set to NOT_STARTED, and the start time.
      operationId: postCreateMatch
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MatchRequestDTO'
      responses:
        '201':
          description: Match successfully registered.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MatchResponseDTO'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
        '422':
          description: Matchmaking is not allowed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
    get:
      summary: Reactive stream of matches (SSE)
      description: Returns all existing matches and new creations of Server-Sent Events.
      operationId: getAll
      security:
        - bearerAuth: [ ]
      responses:
        '200':
          description: Stream of matches (text/event-stream)
          content:
            text/event-stream:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MatchResponseDTO'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
components:
  schemas:
    ErrorResponseDTO:
      type: object
      properties:
        timestamp:
          type: string
          format: date-time
          description: Timestamp when the error occurred
          example: "2024-01-15T10:30:00Z"
        message:
          type: string
          description: Error message description
          example: "Unauthorized access"
    SuccessResponseDTO:
      type: object
      properties:
        message:
          type: string
          description: Success message description
          example: "Success created the operation"
    MatchRequestDTO:
      type: object
      required:
        - homeTeamId
        - visitingTeamId
        - matchTime
      properties:
        homeTeamId:
          type: integer
          format: int64
          description: Home team ID (Long)
          example: 1
        visitingTeamId:
          type: integer
          format: int64
          description: Visiting team ID (Long)
          example: 2
        matchTime:
          type: string
          description: Date and time of the match in the format DD/MM/YYYY HH:MM
          pattern: "^(0[1-9]|[12][0-9]|3[01])/(0[1-9]|1[0-2])/[0-9]{4} ([01][0-9]|2[0-3]):[0-5][0-9]$"
          example: "21/12/2025 18:30"
    MatchResponseDTO:
      type: object
      properties:
        matchId:
          type: integer
          format: int64
          description: Match id (Long)
          example: 1
        homeTeamName:
          type: string
          description: Name of home team
          example: "Brasil"
        visitingTeamName:
          type: string
          description: Name of visiting team
          example: "USA"
        result:
          type: string
          enum: [ NOT_STARTED, HOME_WIN, VISITING_WIN, DRAW ]
          description: Match result
          example: "NOT_STARTED"
        matchTime:
          type: string
          description: Date em time of match DD/MM/YYYY HH:MM
          example: "21/12/2025 18:30"
    UserRequestDTO:
      type: object
      required:
        - name
        - email
      properties:
        email:
          type: string
          format: email
          description: User email address to be registered
          example: usuario@exemplo.com
        name:
          type: string
          description: User name to be registered
          example: John Coffee
    UserResponseDTO:
      type: object
      properties:
        message:
          type: string
          example: User successfully registered
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token generated by the authentication server to be validated in the application.
security:
  - bearerAuth: []
